<div class="headerDialog">
  <h2 mat-dialog-title>{{data.user.servicio}}</h2>
</div>
<mat-dialog-content class="mat-typography">
  Insertadar Brechas: <button (click)="addBrechas()">Agregar Brechas</button>
  <form [formGroup]="FormModal">
    <mat-accordion formArrayName="listaIndicarBrecha" *ngFor="let brechas of listaIndicarBrechas.controls;let i = index">
      <mat-expansion-panel [formGroupName]="i">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Brecha {{i+1}}
          </mat-panel-title>
          <mat-panel-description>
            <button (click)="removeBrechas(i)">Eliminar</button>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field appearance="fill">
          <mat-label>nombre_indi</mat-label>
          <input matInput formControlName="nombre_indi" >
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>unidad_medida</mat-label>
          <input matInput formControlName="unidad_medida" >
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>espacio_geografico</mat-label>
          <input matInput formControlName="espacio_geografico" >
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>anno</mat-label>
          <input matInput formControlName="anno" >
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>valor</mat-label>
          <input matInput formControlName="valor" >
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>

  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close> Cancelar</button>
  <button mat-button (click)="submit()">Insertar Brechas</button>
</mat-dialog-actions>



