<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <div [formGroup]="CrearForm5B">
      <div >
        <ng-template matStepLabel></ng-template>

        <div class="form-group">
          <div class="lblForm">NOMBRE DE IDEA DE IOARR</div>
          <mat-form-field appearance="fill">
            <mat-label>NOMBRE DE IDEA DE IOARR</mat-label>
            <input matInput formControlName="nombre_idea">
          </mat-form-field>
        </div>

        <div class="SubForm">RESPONSABILIDAD FUNCIONAL DE LA INVERSIÓN</div>
        <div class="form-group">
          <div class="lblForm">Función</div>
          <mat-form-field appearance="fill">
            <mat-label>Función</mat-label>
            <input matInput formControlName="funcional_funcion" >
          </mat-form-field>
        </div>
        <div class="form-group">
          <div class="lblForm">División Funcional</div>
          <mat-form-field appearance="fill">
            <mat-label>División Funcional</mat-label>
            <input matInput formControlName="funcional_division" >
          </mat-form-field>
        </div>
        <div class="form-group">
          <div class="lblForm">Grupo Funcional</div>
          <mat-form-field appearance="fill">
            <mat-label>Grupo Funcional</mat-label>
            <input matInput formControlName="funcional_grupo" >
          </mat-form-field>
        </div>
        <div class="form-group">
          <div class="lblForm">Sector Responsable</div>
          <mat-form-field appearance="fill">
            <mat-label>Sector Responsable</mat-label>
            <input matInput formControlName="funcional_sector" >
          </mat-form-field>
        </div>

        <!-- TABLE -->

        <div class="SubForm">ALINEAMIENTO A UNA BRECHA PRIORITARIA</div>
        <form [formGroup]="FormService">
          <div class="form-group">
            <div class="lblForm">Servicio</div>
            <mat-form-field appearance="fill">
              <mat-label>Servicio</mat-label>
              <input matInput formControlName="servicio" >
            </mat-form-field>

          </div>
        </form>

        <div class="container-table">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>SERVICIO</th>
              <td mat-cell *matCellDef="let element">{{element.servicio}}</td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef>Número de Brechas</th>
              <td mat-cell *matCellDef="let element">{{element.weight}}</td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef>Total Brechas</th>
              <td mat-cell *matCellDef="let element">{{element.symbol}}</td>
            </ng-container>

            <ng-container matColumnDef="button">
              <th mat-header-cell *matHeaderCellDef>
                <button mat-raised-button (click)="addData()" class="demo-button">
                Add Servicio
                </button>
              </th>
              <td mat-cell *matCellDef="let element; let i = index">
                <button mat-raised-button  (click)='onOpenModal(element,i + 1)'>Agregar Brecha</button>
                <button
                mat-raised-button [disabled]="!dataSource.length"
                (click)="removeData()">
              Remove data
            </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>


        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </div>
    </div>
  </mat-step>
<!-- 2 -->

  <mat-step [stepControl]="secondFormGroup" label="">
   <div [formGroup]="CrearForm5B">
    <div >
      <!-- 1 -->
      <div class="SubForm">UNIDAD FORMULADORA</div>
            <div class="form-group">
              <div class="lblForm">Sector</div>
              <mat-form-field appearance="fill">
                <mat-label>Sector</mat-label>
                <input matInput formControlName="uf_sector" >
              </mat-form-field>
            </div>
            <div class="form-group">
              <div class="lblForm">Entidad</div>
            <mat-form-field appearance="fill">
              <mat-label>Entidad</mat-label>
              <input matInput formControlName="uf_entidad">
            </mat-form-field>
            </div>
            <div class="form-group">
              <div class="lblForm">Nombre de la UF</div>
            <mat-form-field appearance="fill">
              <mat-label>Nombre de la UF</mat-label>
              <input matInput formControlName="uf_nombre" >
            </mat-form-field>
            </div>
            <div class="form-group">
              <div class="lblForm">Responsable de la UF</div>
            <mat-form-field appearance="fill">
              <mat-label>Responsable de la UF</mat-label>
              <input matInput formControlName="uf_responsable" >
            </mat-form-field>
            </div>
            <!-- 2 -->
            <div class="SubForm">UNIDAD EJECUTORA DE INVERSIONES</div>
            <div class="form-group">
              <div class="lblForm">Sector</div>
              <mat-form-field appearance="fill">
                <mat-label>Sector</mat-label>
                <input matInput formControlName="ufi_sector" >
              </mat-form-field>
            </div>
            <div class="form-group">
              <div class="lblForm">Entidad</div>
            <mat-form-field appearance="fill">
              <mat-label>Entidad</mat-label>
              <input matInput formControlName="ufi_entidad" >
            </mat-form-field>
            </div>
            <div class="form-group">
              <div class="lblForm">Nombre de la UEI</div>
            <mat-form-field appearance="fill">
              <mat-label>Nombre de la UEI</mat-label>
              <input matInput formControlName="ufi_nombre" >
            </mat-form-field>
            </div>
            <div class="form-group">
              <div class="lblForm">Responsable de la UEI</div>
            <mat-form-field appearance="fill">
              <mat-label>Responsable de la UEI</mat-label>
              <input matInput formControlName="ufi_responsable" >
            </mat-form-field>
            </div>
            <!-- 3 -->
            <div class="SubForm">UNIDAD EJECUTORA PRESUPUESTAL</div>
            <div class="form-group">
              <div class="lblForm">Sector</div>
              <mat-form-field appearance="fill">
                <mat-label>Sector</mat-label>
                <input matInput formControlName="ufp_sector" >
              </mat-form-field>
            </div>
            <div class="form-group">
              <div class="lblForm">Entidad</div>
            <mat-form-field appearance="fill">
              <mat-label>Entidad</mat-label>
              <input matInput formControlName="ufp_entidad" >
            </mat-form-field>
            </div>
            <div class="form-group">
              <div class="lblForm">Nombre de la UE</div>
            <mat-form-field appearance="fill">
              <mat-label>Nombre de la UE</mat-label>
              <input matInput formControlName="ufp_nombre" >
            </mat-form-field>
            </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="onCreateForm5B()">Next</button>
      </div>
    </div>
   </div>
  </mat-step>


  <mat-step>
    <div [formGroup]="CrearForm5B">
      <div >
        <ng-template matStepLabel></ng-template>

        <div class="SubForm">DATOS DE LA INVERSIÓN</div>
        <div class="form-group">
          <div class="lblForm">Nombre genérico de las Unidades Productoras </div>
          <mat-form-field appearance="fill">
            <mat-label>Nombre genérico de las Unidades Productoras </mat-label>
            <input matInput >
          </mat-form-field>
        </div>

        <div class="SubForm">DESCRIPCIÓN AGREGADA DE LAS IOARR</div>
        <div class="form-group">
          <div class="lblForm">Tipo de IOARR</div>
          <mat-form-field appearance="fill">
            <mat-label>Tipo de IOARR</mat-label>
            <input matInput >
          </mat-form-field>
        </div>
        <div class="form-group">
          <div class="lblForm">Costo Referencial</div>
          <mat-form-field appearance="fill">
            <mat-label>Costo Referencial</mat-label>
            <input matInput >
          </mat-form-field>
        </div>

        <!-- Table 2 -->

        <div class="container-table-ioaar">
          <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8 demo-table">
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>SERVICIO</th>
              <td mat-cell *matCellDef="let element">{{element.servicio}}</td>
            </ng-container>

            <ng-container matColumnDef="button">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element; let i = index"><button mat-raised-button  (click)='onOpenModal(element,i + 1)'>Agregar Brecha</button>
                <button
                mat-raised-button [disabled]="!dataSource.length"
                (click)="removeData()">
              Remove data
            </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
          </table>
          <input type="submit" value="add">
        </div>

          <div class="SubForm">MODALIDAD DE EJECUCIÓN TENTATIVA</div>
            <div class="form-group">
              <div class="lblForm-check">Administración Directa</div>
              <mat-checkbox [labelPosition]="'before'"></mat-checkbox>
            </div>
            <div class="form-group">
              <div class="lblForm-check">Administración Indirecta - Por contrata</div>
              <mat-checkbox [labelPosition]="'before'"></mat-checkbox>
            </div>
            <div class="form-group">
              <div class="lblForm-check">Administración Indirecta - Asociación Público Privada</div>
              <mat-checkbox [labelPosition]="'before'"></mat-checkbox>
            </div>
            <div class="form-group">
              <div class="lblForm-check">Administración Indirecta - Obras por Impuestos</div>
              <mat-checkbox [labelPosition]="'before'"></mat-checkbox>
            </div>
            <div class="form-group">
              <div class="lblForm-check">Administración Indirecta - Núcleo Ejecutor</div>
              <mat-checkbox [labelPosition]="'before'"></mat-checkbox>
            </div>

            <div class="SubForm">MODALIDAD DE EJECUCIÓN TENTATIVA</div>

            <div class="form-group">
              <div class="lblForm-check">Recursos Ordinarios</div>
              <mat-checkbox [labelPosition]="'before'"></mat-checkbox>
            </div>
            <div class="form-group">
              <div class="lblForm-check">Recursos Directamente Recaudados</div>
              <mat-checkbox [labelPosition]="'before'"></mat-checkbox>
            </div>
            <div class="form-group">
              <div class="lblForm-check">Recursos por Operaciones Oficiales de Crédito</div>
              <mat-checkbox [labelPosition]="'before'"></mat-checkbox>
            </div>
            <div class="form-group">
              <div class="lblForm-check">Donaciones y transferencias</div>
              <mat-checkbox [labelPosition]="'before'"></mat-checkbox>
            </div>
            <div class="form-group">
              <div class="lblForm-check">Recursos Determinados</div>
              <mat-checkbox [labelPosition]="'before'"></mat-checkbox>
            </div>


      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button >Reset</button>
      </div>
      </div>
    </div>
  </mat-step>
  </mat-stepper>
