.form-group{
  width:100%;
  float:left;

}

.SubForm{
  padding-bottom: 2%;
  padding-top: 1%;

}

.lblForm{
  margin-left:5%;
  float:left;
  width:15%;
}

.lblForm-check{
  margin-left:5%;
  float:left;
  width:40%;
}

.form-group mat-form-field{
  margin-left: 15%;
  width:50%;
  font-size:12px;
  float:left;
}

.form-group mat-radio-button{
  margin-left: 15%;
  width:30%;
  float:left;
}

.demo-table {
  width: 100%;
}

.container-table{
  padding-left: 5%;
  width: 80%;
  height: 150px;
  overflow: auto;
  text-align:center;
}

.container-table-ioaar{
  padding-left: 5%;
  width: 50%;
  height: 150px;
  overflow: auto;
  text-align:center;
}

th.mat-header-cell{
 text-align:center;
}

.footerBtn{
  margin-top:5%;
  float: right;
}

.footerBtn button{
  margin: 5px;
}

mat-stepper{
  height:auto;
  background: linear-gradient(270deg, #C8C8C8 0%, #F3F3F3 49.97%, #C8C8C8 100%);
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.btnMan{
  margin: 5px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  width: 22%;
}
