<div class="container">
  <div class="row HeaderTitle">
    <div class="col-md-10">
      <div class="TitleHome">
        mantenimiento usuario
      </div>
    </div>
    <div class="col-md-2">
      <div class="btnRetu" routerLink="/dashboard">
        	<div class="btnText">
            <mat-icon>arrow_left</mat-icon>Regresar
          </div>
      </div>
    </div>
  </div>
</div>


<div class='contenido'>
   <div class="container">
    <div class="row" >
        <div class="col-md-6 contecard" routerLink="/dashboard/VerU">
               <div class="card">
                    <div class="card-title">VER USUARIOS</div>
                    <div class="card-description">
                        Descripción:
                    </div>
                    <div class="card-info">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam
                      inventore unde tenetur ut blanditiis eos laboriosam, eum porro. Quidem blanditiis impedit,
                      autem sapiente nesciunt dolorum obcaecati quo minus quas numquam.</div>
               </div>
        </div>
        <div class="col-md-6 contecard" routerLink="/dashboard/CrearU"  >
            <div class="card">
                <div class="card-title">CREAR USUARIO</div>
                <div class="card-description">
                    Descripción:
                </div>
                <div class="card-info">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam inventore
                  unde tenetur ut blanditiis eos laboriosam, eum porro. Quidem blanditiis impedit,
                  autem sapiente nesciunt dolorum obcaecati quo minus quas numquam.</div>
            </div>
        </div>
        <div class="col-md-6 contecard" routerLink="/dashboard/ModU">
          <div class="card">
               <div class="card-title">MODIFICAR USUARIO</div>
               <div class="card-description">
                   Descripción:
               </div>
               <div class="card-info">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam
                 inventore unde tenetur ut blanditiis eos laboriosam, eum porro. Quidem blanditiis impedit,
                 autem sapiente nesciunt dolorum obcaecati quo minus quas numquam.</div>
          </div>
        </div>
        <div class="col-md-6 contecard" routerLink="/dashboard/EliU"  >
            <div class="card">
                <div class="card-title">ELIMINAR USUARIO</div>
                <div class="card-description">
                    Descripción:
                </div>
                <div class="card-info">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam inventore
                  unde tenetur ut blanditiis eos laboriosam, eum porro. Quidem blanditiis impedit,
                  autem sapiente nesciunt dolorum obcaecati quo minus quas numquam.</div>
            </div>
        </div>
    </div>
   </div>

</div>
