
<div class="container-header">
  <div>Ver Mis Formularios Enviados</div>
  <br>
</div>


<div class="container-table">
  <table>
    <thead>
      <tr>
      <th>ID</th>
      <th>NOMBRE DEL FORMULARIO</th>
      <th>TIPO</th>
      <th>MANTENIMIENTO</th>
      </tr>
    </thead>
    <tbody  *ngFor="let element of Formularios | ObjtoArray">
      <ng-container *ngFor="let element2 of element | ObjtoArray">
        <tr class="trBody" *ngIf="element2.formulario5A != null">
          <td>{{element2.formulario5A.id }}</td>
          <td>{{element2.formulario5A.nombre_idea }}</td>
          <td>Formato5A</td>
          <td><button class="btnMan btnUser" mat-mini-fab (click)='onOpenModalVer(element2)'><mat-icon>more_horiz</mat-icon></button></td>
        </tr>
        <!-- Aqui Solo sale los formulario 5B -->
        <tr class="trBody" *ngIf="element2.formulario5B != null">
          <td>{{element2.formulario5B.id }}</td>
          <td>{{element2.formulario5B.nombre_idea }}</td>
          <td>Formato5B</td>
          <td><button class="btnMan btnUser" mat-mini-fab (click)='onOpenModalVer(element2)'><mat-icon>more_horiz</mat-icon></button></td>
        </tr>
      </ng-container>
    </tbody>
  </table>

</div>

