
<div class="full">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-11">
        <div class="TituloModal">{{data.title}}:</div>
        <div class="TituloModal">{{data.user.nombre}} {{data.user.apellido}}</div>
        <br>
      </div>
      <div class="col-md-1">
        <button mat-dialog-close type="button" class="btn-close" aria-label="Close"></button>
      </div>
    </div>

    <form [formGroup]="editForm" (ngSubmit)="onSave()">
    <div class="row Centro">
      <hr>
        <div class="row ContForm">
          <div class="col-md-6 SubTitleForm">Nombre</div>
          <div class="col-md-6"><input type="text" formControlName="nombre"  class="InpForm"></div>
        </div>
        <div class="row ContForm">
          <div class="col-md-6 SubTitleForm">Apellido</div>
          <div class="col-md-6"><input type="text" formControlName="apellido"   class="InpForm"></div>
        </div>
        <div class="row ContForm">
          <div class="col-md-6 SubTitleForm">username</div>
          <div class="col-md-6"><input type="text" formControlName="user"  class="InpForm"></div>
        </div>
        <div class="row ContForm">
          <div class="col-md-6 SubTitleForm">Dni</div>
          <div class="col-md-6 "><input type="text" formControlName="dni"  class="InpForm"></div>
        </div>
        <div class="row ContForm">
          <div class="col-md-6 SubTitleForm">Cargo</div>
          <div class="col-md-6 "><input type="text" formControlName="cargo" class="InpForm"></div>
        </div>
        <div class="row ContForm">
          <div class="col-md-6 SubTitleForm">Rol</div>
          <select class="col-md-6 form-selectModal" aria-label="Default select example" formControlName="rol">
            <option selected>---Rol---</option>
            <option value="0">Admin</option>
            <option value="1">Usuario</option>
          </select>
        </div>
        <hr>
      </div>
        <div class="row ContForm">
          <div class="col-md-6">
            <button mat-dialog-close type="button" class="BtnForm2" data-bs-dismiss="modal">Cancelar</button>
          </div>
          <div class="col-md-6">
            <input type="submit" class="BtnForm" mat-dialog-close value="Editar Usuario" aria-label="">
          </div>
        </div>
      </form>




</div>
</div>








