<div class="container">
  <div class="row ContForm">
    <div class="col-md-6 SubTitleForm">NOMBRE DE IDEA DE IOARR</div>
    <div class="col-md-6"><input type="text" class="InpForm"></div>
  </div>
  <div class="row ContForm">
    <div class="col-md-6 SubTitleForm">RESPONSABILIDAD FUNCIONAL DE LA INVERSIÓN</div>
    <div class="row ContSubForm">
      <div class="col-md-6 SubFormText">Función:</div>
      <div class="col-md-6"><input type="text" class="InpForm"></div>
    </div>
    <div class="row ContSubForm">
      <div class="col-md-6 SubFormText">División Funcional:</div>
      <div class="col-md-6"><input type="text" class="InpForm"></div>
    </div>
    <div class="row ContSubForm">
      <div class="col-md-6 SubFormText">Grupo Funcional:</div>
      <div class="col-md-6"><input type="text" class="InpForm"></div>
    </div>
    <div class="row ContSubForm">
      <div class="col-md-6 SubFormText">Sector Responsable:</div>
    <div class="col-md-6"><input type="text" class="InpForm"></div>
    </div>
  </div>
  <div class="row ContForm">
    <div class="col-md-12 SubTitleForm">ALINEAMIENTO A UNA BRECHA PRIORITARIA</div>
  </div>
  <div class="row ContForm">
    <div class="col-md-6"><input type="text" class="InpForm"></div>
    <div class="col-md-3"><input type="submit" value="Agregar Servicio" class="BtnForm"></div>
    <div class="col-md-3"><input type="submit" value="Agregar Brecha" class="BtnForm"></div>
  </div>
  <div class="table-responsive tblgeneral">
    <table class="table tblForm">
      <thead>
        <th>Brecha</th>
        <th>Unida de Medida</th>
        <th>Espacio geográfico</th>
        <th>Año</th>
        <th>Valor</th>
      </thead>
      <tbody>
        <td class="tdForm">Brecha</td>
        <td class="tdForm">Unida</td>
        <td class="tdForm">Espacio</td>
        <td class="tdForm">Año</td>
        <td class="tdForm">Valor</td>
      </tbody>
    </table>
  </div>
    <div class="row footerBtn">
        <div class="col-md-4">
          <!-- <input type="submit" value="Regresar" id="" class="BtnCambioRet"> -->
        </div>
        <div class="col-md-4 offset-md-4">
            <input type="submit" value="Siguiente" id="" class="BtnCambioNex" routerLink="/dashboard/FBp2">
        </div>
    </div>

</div>
