<div class="row">
  <div class="col-md-11">
    <div class="TituloModal">{{data.title}}:</div>
    <div class="TituloModal">{{data.user.nombre}} {{data.user.apellido}}</div>
    <br>
  </div>
  <div class="col-md-1">
    <button mat-dialog-close type="button" class="btn-close" aria-label="Close"></button>
  </div>
</div>
<form (ngSubmit)="onDelete()">
  <div class="row ">

      <button mat-dialog-close type="button" class="BtnForm2" data-bs-dismiss="modal">Cancelar</button>


      <input type="submit" class="BtnForm" mat-dialog-close value="Eliminar Usuario" aria-label="">

  </div>
</form>
