.ContForm{
  padding:30px 30px 0 30px;
}
.SubTitleForm{
  font-size: 18px;
  line-height: 21px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 800;
  text-transform: uppercase;
	background: linear-gradient(80deg, #455421 0%, #60694B 0.01%, #333A23 100%);
	-webkit-background-clip: text;
  background-clip: text;
	-webkit-text-fill-color: transparent;
}

.ContSubForm{
  padding:12px 10px 0 10px;
}

.InpForm{
  width: 100%;
  border: none;
  border-radius:2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.InpForm:focus{
  outline-color: #333a239d;
}
.SubFormText{
  padding-left: 10%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 720;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
	background: linear-gradient(80deg, #455421 0%, #60694B 0.01%, #333A23 100%);
	-webkit-background-clip: text;
  background-clip: text;
	-webkit-text-fill-color: transparent;
}

.BtnForm{
  border: none;
  background: linear-gradient(180deg, #869268 0%, #5F6D3D 95.83%, #869268 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  padding:2px;
  text-align: center;
  width: 80%;
}

.BtnForm:hover{
  background: linear-gradient(180deg, #869268 0%, #353b26e1 95.83%, #b9c0a5bb 100%);
}

.tblgeneral{
  padding: 30px 20px 0 20px;
}

.tblForm{
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: linear-gradient(180deg, #455421 0%, #60694B 0.01%, #333A23 100%);
  color: #fff;
  text-transform: uppercase;
}
.tdForm{
  background: #EBE9E9;
  border: 2px solid linear-gradient(180deg, #455421 0%, #60694B 0.01%, #333A23 100%);
  border:1px solid #000;
  color: #000;
}

.footerBtn{
  margin-top: 5%;
  margin-bottom: 5%;
}

.BtnCambioNex{
  width: 200px;
  background: linear-gradient(180deg, #869268 0%, #5F6D3D 95.83%, #869268 100%);
  border-radius: 20px;
  border: none;
  text-align: center;
  color: #FFFFFF;
  font-weight: 500;
  float: right;
}

.BtnCambioRet{
  width: 200px;
  background: linear-gradient(180deg, #869268 0%, #5F6D3D 95.83%, #869268 100%);
  border-radius: 20px;
  border: none;
  text-align: center;
  color: #FFFFFF;
  font-weight: 500;
  float: left;
}

