<div class="container">

  <div class="row HeaderTitle">
    <div class="col-md-12">
      <div class="TitleHome">
        Formularios
      </div>
    </div>
  </div>

  <div class="row ContForm">
    <div class="col-md-3 SubTitleForm">ID del Formulario</div>
    <div class="col-md-2"><input type="text" class="InpForm"></div>
    <div class="col-md-4 SubTitleForm">Nombre del Formulario</div>
    <div class="col-md-3"><input type="text" class="InpForm"></div>
  </div>
  <div class="row ContForm">
    <div class="col-md-3 SubTitleForm">Tipo de Formulario</div>
    <div class="col-md-2"><input type="text" class="InpForm"></div>
    <div class="col-md-4 SubTitleForm">Fecha de Creación</div>
    <div class="col-md-3"><input type="text" class="InpForm"></div>
  </div>
  <div class="row ContForm">
    <div class="col-md-9"></div>
    <div class="col-md-3"><input type="submit" class="BtnForm" value="Filtrar"></div>
  </div>

  <div class="table-responsive tblgeneral">
    <table class="table ">
      <thead>
        <tr class="tblForm">
          <th class="Frth ">ID</th>
          <th class="">NOMBRE DEL FORMULARIO</th>
          <th class="">TIPO DE FORMULARIO</th>
          <th class="">USUARIO</th>
          <th class="">FECHA DE CREACION</th>
          <th class="Lsth"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="tblbody">
          <td class="tblCont">CODIGO</td>
          <td class="tblCont">NOMBRE DEL FORMULARIO</td>
          <td class="tblCont">TIPO DE FORMULARIO</td>
          <td class="tblCont">USUARIO</td>
          <td class="tblCont">FECHA DE CREACION</td>
          <td class="">
           <div class="row">
              <button mat-icon-button class="btninfo">
              <mat-icon>info</mat-icon>
              </button>
           </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
