
<!-- <h1 *ngIf="auth.isLogged">Hello, world!</h1> -->
<!-- <h1 class="TitleHome">Menú Principal</h1> -->
<div class="container">
  <div class="row HeaderTitle">
    <div class="col-md-8">
      <div class="TitleHome">
        Menú Principal
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row" >
      <div class="col-md-6 contecard" routerLink="/dashboard/modulofip" >
             <div class="card">
                  <div class="card-title">CREAR FIP  </div>
                  <div class="card-description">
                      Descripción:
                  </div>
                  <div class="card-info">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam
                    inventore unde tenetur ut blanditiis eos laboriosam, eum porro. Quidem blanditiis impedit,
                    autem sapiente nesciunt dolorum obcaecati quo minus quas numquam.</div>
             </div>
      </div>


          <div class="col-md-6 contecard" routerLink="/dashboard/modulouser">
              <div class="card">
                  <div class="card-title">Matenimiento Usuarios</div>
                  <div class="card-description">
                      Descripción:
                  </div>
                  <div class="card-info">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam
                    inventore unde tenetur ut blanditiis eos laboriosam, eum porro. Quidem blanditiis impedit,
                    autem sapiente nesciunt dolorum obcaecati quo minus quas numquam.</div>
              </div>
          </div>


      <div class="col-md-6 contecard"   >
          <div class="card">
              <div class="card-title">Inscripciones</div>
              <div class="card-description">
                  Descripción:
              </div>
              <div class="card-info">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam inventore
                unde tenetur ut blanditiis eos laboriosam, eum porro. Quidem blanditiis impedit,
                autem sapiente nesciunt dolorum obcaecati quo minus quas numquam.</div>
          </div>
      </div>

      <div class="col-md-6 contecard"   >
          <div class="card">
              <div class="card-title">Configuraciones</div>
              <div class="card-description">
                  Descripción:
              </div>
              <div class="card-info">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam inventore
                unde tenetur ut blanditiis eos laboriosam, eum porro. Quidem blanditiis impedit,
                autem sapiente nesciunt dolorum obcaecati quo minus quas numquam.</div>
          </div>
      </div>
  </div>
 </div>
