<div class="container">
  <div class="row HeaderTitle">
    <div class="col-md-10">
      <div class="TitleHome">
        Crear Fip
      </div>
    </div>
    <div class="col-md-2">
      <div class="btnRetu" routerLink="/dashboard">
        	<div class="btnText">
            <mat-icon>arrow_left</mat-icon>Regresar
          </div>
      </div>
    </div>
  </div>
</div>


<div class='contenido'>
   <div class="container">
    <div class="row" >
        <div class="col-md-6 contecard" routerLink="/dashboard/FA">
               <div class="card">
                    <div class="card-title">FORMATO N° 05-A</div>
                    <div class="card-description">
                        Descripción:
                    </div>
                    <div class="card-info">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam
                      inventore unde tenetur ut blanditiis eos laboriosam, eum porro. Quidem blanditiis impedit,
                      autem sapiente nesciunt dolorum obcaecati quo minus quas numquam.</div>
               </div>
        </div>
        <div class="col-md-6 contecard"  routerLink="/dashboard/FB" >
            <div class="card">
                <div class="card-title">FORMATO N° 05-B</div>
                <div class="card-description">
                    Descripción:
                </div>
                <div class="card-info">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam inventore
                  unde tenetur ut blanditiis eos laboriosam, eum porro. Quidem blanditiis impedit,
                  autem sapiente nesciunt dolorum obcaecati quo minus quas numquam.</div>
            </div>
        </div>
    </div>
   </div>

</div>
