<div class="container">
  <div class="row ContForm">
    <div class="col-md-12 SubTitleForm">ver usuario</div>
  </div>
  <div class="row">
    <div class="row ContSubForm">
      <div class="col-md-3 SubFormText">CODIGO DE USUARIO:</div>
      <div class="col-md-3"><input type="text" class="InpForm"></div>
      <div class="col-md-3 SubFormText">DNI DEL USARIO:</div>
      <div class="col-md-3"><input type="text" class="InpForm"></div>
    </div>
  </div>
  <div class="row">
    <div class="row ContSubForm">
      <div class="col-md-3 SubFormText">NOMBRE DEL USUARIO:</div>
      <div class="col-md-3"><input type="text" class="InpForm"></div>
      <div class="col-md-3 SubFormText">CORREO DEL USUARIO:</div>
      <div class="col-md-3"><input type="text" class="InpForm"></div>
    </div>
  </div>

  <div class="table-responsive tblgeneral">
    <table class="table tblForm">
      <thead>
        <th>CODIGO USUARIO</th>
        <th>NOMBRE DEL USUARIO</th>
        <th>DNI USUARIO</th>
        <th>CORREO</th>
        <th></th>
      </thead>
      <tbody>
        <td class="tdForm">CODIGO USUARIO</td>
        <td class="tdForm">NOMBRE DEL USUARIO</td>
        <td class="tdForm">DNI USUARIO</td>
        <td class="tdForm">CORREO</td>
        <td class="tdForm"><mat-icon class="tblIcon">info</mat-icon></td>
      </tbody>
    </table>
  </div>
</div>


