<div class="body">
  <div class="content-body">
    <div class="card" routerLink="/dashboard/FA">
      <div class="card-title">FORMATO N° 05-A</div>
      <div class="card-description">
          Descripción:
      </div>
      <div class="card-info">Permite al usuario registrar Formularios como:
        <ul>
          <li>Formulario de Proyecto de Inversión: Formato Nro.5-A</li>
          <li>Formulario de IOARR: Formato Nro.5-B</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="content-body">
    <div class="card" routerLink="/dashboard/FB">
      <div class="card-title">FORMATO N° 05-B</div>
      <div class="card-description">
          Descripción:
      </div>
      <div class="card-info">Los Usuarios con mayor rango tendran permisos:
        <ul>
          <li>Crear Usuario</li>
          <li>Editar Usuario</li>
          <li>Eliminar Usuario</li>
          <li>Ver Usuario</li>
        </ul>
      </div>
    </div>
  </div>
</div>
