<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
crossorigin="anonymous" referrerpolicy="no-referrer" />\

<div class="container">
  <div class="row ContForm">
    <div class="col-md-12 SubTitleForm">
      DATOS DE LA INVERSIÓN
    </div>
  </div>
  <div class="row">
    <div class="row ContSubForm">
      <div class="col-md-6 SubFormText">Naturaleza de intervención:</div>
      <div class="col-md-6"><input type="text" class="InpForm"></div>
    </div>
    <div class="row ContSubForm">
      <div class="col-md-6 SubFormText">Nombre de la unidad productora:</div>
      <div class="col-md-6"><input type="text" class="InpForm"></div>
    </div>
  </div>
  <div class="row ContForm">
    <div class="col-md-6 SubTitleForm">Localización geográfica de la unidad productora:</div>
    <div class="row GenDepForm">
      <div class="col-md-4 ContDep">DEPARTAMENTO</div>
      <div class="col-md-4 ContDep">PROVINCIA</div>
      <div class="col-md-4 ContDep">DISTRITO</div>
    </div>
    <div class="row ContDepFom ">
      <div class="col-md-4"><input type="text" class="InpForm"></div>
      <div class="col-md-4"><input type="text" class="InpForm"></div>
      <div class="col-md-4"><input type="text" class="InpForm"></div>
    </div>
  </div>
  <div class="row ContForm">
    <div class="col-md-12 SubTitleForm">
      RESPONSABILIDAD FUNCIONAL DE LA INVERSIÓN
    </div>
  </div>
  <div class="row">
    <div class="row ContSubForm">
      <div class="col-md-12 SubFormText">Para proyectos de inversión</div>
    </div>
  </div>
  <div class="row">
    <div class="row ContSubForm">
      <div class="col-md-6 SubFormText">Tipo de Item:</div>
      <div class="col-md-3"><input type="submit" value="Agregar Item" class="BtnForm"></div>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive tblgeneralMin">
      <table class="table tblFormMin">
        <thead>
          <th>Tipo de Item</th>
          <th>Costo Referencial</th>
        </thead>
        <tbody>
          <td class="tdFormMin">Tipo</td>
          <td class="tdFormMin">Costo</td>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="row ContSubForm">
      <div class="col-md-12 SubFormText">Capacidad de producción estimada con el proyecto de inversión</div>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive tblgeneralMin">
      <table class="table tblFormMin">
        <thead>
          <th>Servicio</th>
          <th>UM</th>
          <th>Capacidad de producción</th>
        </thead>
        <tbody>
          <td class="tdFormMin">Servicio</td>
          <td class="tdFormMin">UM</td>
          <td class="tdFormMin">Capacidad de producción</td>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="row ContSubForm">
      <div class="col-md-12 SubFormText">Para programas de inversión</div>
    </div>
  </div>
  <div class="row">
    <div class="row ContSubForm">
      <div class="col-md-6 SubFormText">Inversiones:</div>
      <div class="col-md-3"><input type="submit" value="Agregar Inversiones" class="BtnForm"></div>
    </div>
  </div>
  <div class="row">
    <div class="table-responsive tblgeneralMin">
      <table class="table tblFormMin">
        <thead>
          <th>INVERSIONES</th>
          <th>COSTO REFERENCIAL</th>
        </thead>
        <tbody>
          <td class="tdFormMin">INVERSIONES</td>
          <td class="tdFormMin">COSTO REFERENCIAL</td>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="row ContSubForm">
      <div class="col-md-12 SubFormText">Documento técnico para la declaración de viabilidad</div>
    </div>
  </div>
  <div class="row">
    <div class="row ContSubForm">
      <div class="col-md-6">
        <label for="file-upload" class="BtnFormFile">
            <i class="fa-solid fa-file-arrow-up"></i> Subir Archivo
        </label>
        <input type="file" id="file-upload" class="custom-file-upload">
    </div>
  </div>
  </div>
  <div class="row ">
    <div class="row ContSubForm">
      <div class="col-md-7 SubFormText">Costo aproximado del estudio de preinversión o ficha técnica:</div>
      <div class="col-md-5"><input type="text" class="InpForm"></div>
    </div>
  </div>
  <div class="row footerBtn">
    <div class="col-md-4">
      <input type="submit" value="Regresar" id="" class="BtnCambioRet" routerLink="/dashboard/FAp2">
    </div>
    <div class="col-md-4 offset-md-4">
        <input type="submit" value="Siguiente" id="" class="BtnCambioNex" routerLink="/dashboard/FAp4">
    </div>
  </div>
</div>
