<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" 
integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" 
crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="Contenedor">
    <div class="main">
        <div id="formContent">
            <!-- Icon -->
            <div class="fadeIn first">
              <img src="assets/Logo.png" class="rounded img-logo" alt="User Icon" />
            </div>
            <p class="text-center main-titulo">PROCESO MILITAR DE TOMA DE DECISIONES</p>
            <!-- Login Form -->
            <form [formGroup]="form" (ngSubmit)="onLogin()">
              <div class="main-controls">
                  <p class="text-controls">ID USUARIO</p>
                  <div class="input-group mb-1">
                      <span class="input-group-text formInput" id="basic-addon1"><i class="fa-solid fa-user"></i></span>
                      <input type="text" class="form-control formInput" formControlName="username" placeholder="INGRESAR USUARIO" aria-describedby="basic-addon1">
                  </div>
                  <br>
                  <p class="text-controls">CONTRASEÑA</p>
                  <div class="input-group mb-1 formInput">
                      <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-lock"></i></span>
                      <input type="password" class="form-control" formControlName="password" placeholder="INGRESAR CONTRASEÑA"  aria-describedby="basic-addon1">
                  </div>
                  <br>
                  <div class="text-center">
                      <input type="submit" class="btn-login" value="INGRESAR SISTEMA" aria-label="">
                  </div>
                
              </div>
            </form>
        
        
        
          </div>
    </div>
</div>
    
        
  

