<div class="container">
  <div class="row ContForm">
    <div class="col-md-12 SubTitleForm">
      DATOS DE LA INVERSIÓN
    </div>
  </div>
  <div class="row">
    <div class="row ContSubForm">
      <div class="col-md-7 SubFormText">Nombre genérico de las Unidades Productoras </div>
      <div class="col-md-5"><input type="text" class="InpForm"></div>
    </div>
  </div>
    <div class="row ContForm">
      <div class="col-md-12 SubTitleForm">DESCRIPCIÓN AGREGADA DE LAS IOARR</div>
    </div>
  <div class="row">
    <div class="table-responsive tblgeneralMin">
      <table class="table tblFormMin">
        <thead>
          <th>Tipo de IOARR</th>
          <th>COSTO REFERENCIAL</th>
        </thead>
        <tbody>
          <td class="tdFormMin">Tipo de IOARR</td>
          <td class="tdFormMin">COSTO REFERENCIAL</td>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row ContForm">
    <div class="col-md-12 SubTitleForm">
      MODALIDAD DE EJECUCIÓN TENTATIVA
    </div>
  </div>
  <div class="row ">
      <div class="row ">
        <div class="col-md-7 SubFormText">ADMINISTRACIÓN DIRECTA</div>
        <div class="col-md-5">
          <div class="InputCheck">
            <p>
                <input type="checkbox" id="MFT1" />
                <label for="MFT1"></label>
            </p>
        </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-7 SubFormText">Administración Indirecta - Por contrata</div>
        <div class="col-md-5">
          <div class="InputCheck">
            <p>
                <input type="checkbox" id="MFT2" />
                <label for="MFT2"></label>
            </p>
        </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-7 SubFormText">Administración Indirecta - Asociación Público Privada</div>
        <div class="col-md-5">
          <div class="InputCheck">
            <p>
                <input type="checkbox" id="MFT3" />
                <label for="MFT3"></label>
            </p>
        </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-7 SubFormText">Administración Indirecta - Obras por Impuestos</div>
        <div class="col-md-5">
          <div class="InputCheck">
            <p>
                <input type="checkbox" id="MFT4" />
                <label for="MFT4"></label>
            </p>
        </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-7 SubFormText">Administración Indirecta - Núcleo Ejecutor</div>
        <div class="col-md-5">
          <div class="InputCheck">
            <p>
                <input type="checkbox" id="MFT5" />
                <label for="MFT5"></label>
            </p>
        </div>
        </div>
      </div>

  </div>

  <div class="row ContForm">
    <div class="col-md-12 SubTitleForm">
      FUENTE DE FINANCIAMIENTO
    </div>
  </div>
  <div class="row ">
      <div class="row ">
        <div class="col-md-7 SubFormText">Recursos Ordinarios</div>
        <div class="col-md-5">
          <div class="InputCheck">
            <p>
                <input type="checkbox" id="FF1" />
                <label for="FF1"></label>
            </p>
        </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-7 SubFormText">Recursos Directamente Recaudados</div>
        <div class="col-md-5">
          <div class="InputCheck">
            <p>
                <input type="checkbox" id="FF2" />
                <label for="FF2"></label>
            </p>
        </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-7 SubFormText">Recursos por Operaciones Oficiales de Crédito</div>
        <div class="col-md-5">
          <div class="InputCheck">
            <p>
                <input type="checkbox" id="FF3" />
                <label for="FF3"></label>
            </p>
        </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-7 SubFormText">Donaciones y transferencias</div>
        <div class="col-md-5">
          <div class="InputCheck">
            <p>
                <input type="checkbox" id="FF4" />
                <label for="FF4"></label>
            </p>
        </div>
        </div>
      </div>
      <div class="row ">
        <div class="col-md-7 SubFormText">Recursos Determinados</div>
        <div class="col-md-5">
          <div class="InputCheck">
            <p>
                <input type="checkbox" id="FF5" />
                <label for="FF5"></label>
            </p>
        </div>
        </div>
      </div>

</div>

<div class="row footerBtn">
  <div class="col-md-4">
    <input type="submit" value="Regresar" id="" class="BtnCambioRet" routerLink="/dashboard/FBp2">
  </div>
  <div class="col-md-4 offset-md-4">
      <input type="submit" value="Finalizar" id="" class="BtnCambioNex" >
  </div>
</div>
</div>
