<div class="body">
  <div class="content-body">
    <div class="card" routerLink="/dashboard/VerU">
      <div class="card-title">VER USUARIOS</div>
      <div class="card-description">
          Descripción:
      </div>
      <div class="card-info">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Voluptatibus animi ipsam quas illum debitis quasi molestiae reprehenderit accusantium sed ut
         dolores quidem ullam veniam quia ex, delectus tempore! Iure, quidem!
      </div>
    </div>
  </div>
  <div class="content-body">
    <div class="card" routerLink="/dashboard/CrearU">
      <div class="card-title">CREAR USUARIOS</div>
      <div class="card-description">
          Descripción:
      </div>
      <div class="card-info">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Voluptatibus animi ipsam quas illum debitis quasi molestiae reprehenderit accusantium sed ut
         dolores quidem ullam veniam quia ex, delectus tempore! Iure, quidem!
      </div>
    </div>
  </div>
</div>
