<div class="container">
  <div class="row ContForm">
    <div class="col-md-12 SubTitleForm">
      UNIDAD FORMULADORA
    </div>
  </div>
  <div class="row ">
    <div class="row ContSubForm">
      <div class="col-md-6 SubFormText">Función:</div>
      <div class="col-md-6"><input type="text" class="InpForm"></div>
    </div>
    <div class="row ContSubForm">
      <div class="col-md-6 SubFormText">Entidad:</div>
      <div class="col-md-6"><input type="text" class="InpForm"></div>
    </div>
    <div class="row ContSubForm">
      <div class="col-md-6 SubFormText">Nombre de la UF:</div>
      <div class="col-md-6"><input type="text" class="InpForm"></div>
    </div>
    <div class="row ContSubForm">
      <div class="col-md-6 SubFormText">Responsable de la UF:</div>
    <div class="col-md-6"><input type="text" class="InpForm"></div>
    </div>
  </div>
  <div class="row ContForm">
    <div class="col-md-12 SubTitleForm">
      UNIDAD EJECUTORA DE INVERSIONES
    </div>
  </div>
  <div class="row ">
    <div class="row ContSubForm">
      <div class="col-md-6 SubFormText">Función:</div>
      <div class="col-md-6"><input type="text" class="InpForm"></div>
    </div>
    <div class="row ContSubForm">
      <div class="col-md-6 SubFormText">Entidad:</div>
      <div class="col-md-6"><input type="text" class="InpForm"></div>
    </div>
    <div class="row ContSubForm">
      <div class="col-md-6 SubFormText">Nombre de la UEI:</div>
      <div class="col-md-6"><input type="text" class="InpForm"></div>
    </div>
    <div class="row ContSubForm">
      <div class="col-md-6 SubFormText">Responsable de la UEI:</div>
    <div class="col-md-6"><input type="text" class="InpForm"></div>
    </div>
  </div>
  <div class="row ContForm">
    <div class="col-md-12 SubTitleForm">
      UNIDAD EJECUTORA PRESUPUESTAL
    </div>
  </div>
  <div class="row ">
    <div class="row ContSubForm">
      <div class="col-md-6 SubFormText">Función:</div>
      <div class="col-md-6"><input type="text" class="InpForm"></div>
    </div>
    <div class="row ContSubForm">
      <div class="col-md-6 SubFormText">Entidad:</div>
      <div class="col-md-6"><input type="text" class="InpForm"></div>
    </div>
    <div class="row ContSubForm">
      <div class="col-md-6 SubFormText">Nombre de la UE:</div>
      <div class="col-md-6"><input type="text" class="InpForm"></div>
    </div>
  </div>

  <div class="row footerBtn">
    <div class="col-md-4">
      <input type="submit" value="Regresar" id="" class="BtnCambioRet" routerLink="/dashboard/FA">
    </div>
    <div class="col-md-4 offset-md-4">
        <input type="submit" value="Siguiente" id="" class="BtnCambioNex" routerLink="/dashboard/FAp3">
    </div>
  </div>
</div>
