<div class="body">
  <ng-container *ngIf="isRol == 1 || isRol == 2">
    <div class="content-body">
      <div class="card" routerLink="/dashboard/VerIns">
        <div class="card-title">Ver Formularios</div>
        <div class="card-description">
            Descripción:
        </div>
        <div class="card-info">Permite al usuario ver todos los Formularios enviados como:
          <ul>
            <li>Formulario de Proyecto de Inversión: Formato Nro.5-A</li>
            <li>Formulario de IOARR: Formato Nro.5-B</li>
          </ul>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container >
    <div class="content-body">
      <div class="card" routerLink="/dashboard/InsEnv">
        <div class="card-title">Ver Mis Formularios</div>
        <div class="card-description">
            Descripción:
        </div>
        <div class="card-info">Permite al usuario ver todos sus Formularios enviados como:
          <ul>
            <li>Formulario de Proyecto de Inversión: Formato Nro.5-A</li>
            <li>Formulario de IOARR: Formato Nro.5-B</li>
          </ul>
        </div>
      </div>
    </div>
  </ng-container>
</div>
