
  mat-toolbar{
    height: 10%;
  }

  mat-sidenav-container{
    width: 100%;
    height: 90%;
    background: linear-gradient(270deg, #C8C8C8 0%, #F3F3F3 49.97%, #C8C8C8 100%);
  }

  mat-sidenav{
    background-color: #5F6D3D;
    width: 20%;
  }

  mat-toolbar{
    background: linear-gradient(161.31deg, rgba(230, 249, 179, 0.1) 0%,
    rgba(206, 220, 171, 0.1) 97.91%),
    linear-gradient(198.69deg, #778C43 0.01%, #203500 100%);
    color: #fff;
  }

  .IconBar{
    padding: 0;
    border: none;
    background: none;
    width:40px;
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  .IconExit{
    padding: 0;
    border: none;
    background: none;
    width:40px;
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  .IconBar:hover{
    background-color: #778C43;
  }

  .IconExit:hover{
    background-color: #5F6D3D;
  }


  .LogoBar{
    width:50px;
    height:60px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:10px;
  }

  .TitleBar{
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 47px;
    text-transform: uppercase;
    width: 100%;
  }

  .NavSlider{
    background-color: #5F6D3D;
    width: 100%;
  }

  .btnSubMenu{
    margin-left: 10px;
    padding: 0;
    border: none;
    background: none;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    line-height: 47px;
    font-size:14px;
  }

  .btnSubOpciones{
    padding: 10px;
    border: none;
    background: none;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    text-transform: uppercase;
    color: #fff;


  }
  .TitleNav{
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
  }

  #modulofip,#modulousuario,#moduloinscripciones,#moduloconfig{
    background: linear-gradient(161.31deg, rgba(230, 249, 179, 0.1) 0%,
    rgba(206, 220, 171, 0.1) 97.91%),
    linear-gradient(198.69deg, #778C43 0.01%, #203500 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size:14px;
  }


  #moduloPI, #moduloIOAAR{
    background: #869268;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size:14px;
  }

  #modulofip:hover,#modulousuario:hover,#moduloinscripciones:hover{
    background: linear-gradient(161.31deg, rgba(230, 249, 179, 0.1) 0%,
    rgba(206, 220, 171, 0.1) 97.91%),
    linear-gradient(198.69deg, #778c4352 0.01%, #203500b4 100%);
  }


  #moduloPI:hover, #moduloIOAAR:hover{
    background: #8692688c;
  }


