.centro{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;

}

.Contenido{
  padding: 20px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.Title404{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.ErrorIMG{
  width: 40%;
  margin-left: 34.5%;
  margin-right: 34.5%;
}
.btnRegresar404{
  width:50%;
  margin: 20px;
  padding: 5px;
}


